.act-color:hover {
  cursor: pointer;
  color: #ff6700 !important;
}

.j-color {
  color: #ff6700;
}

// input
.headinput {
  .ivu-input-wrapper {
    width: 250px !important;
  }

  .ivu-input-search {
    background: gray !important;
    border: gray 1px solid !important;
    border-radius: 0 !important;

    &:hover {
      background-color: #ff6700 !important;
      border: #ff6700 1px solid !important;
    }
  }



  .ivu-input {
    border: gray 1px solid !important;
    border-radius: 0 !important;

    &:focus {
      box-shadow: 0 0 1px #ff6700;
      border: #ff6700 solid !important;
    }

    &:focus~.ivu-input-search {
      background-color: #ff6700 !important;
      border: #ff6700 1px solid !important;
    }
  }
}

// 轮播图
.ivu-carousel {
  .left {
    margin-left: 25% !important;
  }

  .ivu-carousel-arrow {
    background-color: rgb(122, 122, 122);
  }
}

.ivu-carousel-dots {
  z-index: 2 !important;
}

// 登录.login-boxs
.login-boxs {
  .ivu-input {
    width: 300px;
    height: 40px;
    margin: auto;
  }

  .code {
    .ivu-input {
      width: 178px;
    }
  }

  .ivu-tabs-tab-active {
    // color: #ff6700 !important;
    // border-bottom: 1px solid #ff6700 !important;
  }
}

.box-demo {
  .ivu-input {
    border: none;
    outline: none !important;

    &:hover {
      border: none;
    }

    &:focus {
      border: none !important;
    }
  }
}